* {
 cursor: url(http://cur.cursors-4u.net/food/foo-2/foo108.cur), auto !important;

}

.navfont {

    font-family: fantasy;
    color: white; 
}


footer {
    display: block;
    background-color:lightseagreen;
    color: white; 
    padding-top: 40px;
  }

  .carousel {
    height: 250px;
    overflow: hidden;
  }
  .btn {
    margin:60px ; 
  }
 
  .espacio {

height: 100px;
  }

  .egt {
      padding: 30px; 
      justify-content: center ;
      color: blue;
      margin: 30px; 
      text-align: center;
  }

  .signup {
         
      border-radius: 50%;
      border-color: darkslategray;

  }